
.table {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin:  0 auto ;
    /* min-height: 40px; */
    flex-flow: row wrap;
    max-width: 1100px;
    list-style-type: none;
    padding: 0;
  }