.kaufman__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 2;
    height: 877px;
    width: 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    /* background-position: center; */
    /* outline: 1px ridge aliceblue; */
   background-size: cover;
  }